body {
	padding: 0;
	margin: 0;
}
.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 50px;
	/*text-align: center;*/
	padding-top: 10px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}
.navigation a {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

.navigation .left {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
	clear: left;
}

.navigation hover {
	color: grey;
}

.navigation .drop-menu {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
	clear: right; !important;
}
