
.videowrapper{
  display: none;
}


.space{
  width:50%;
  background-color:#0059b3;
}

.buttonspace {
	top: 30px;
	width: 100%;
	position: relative;
}


.fa-commenting {
  color: white;
}

.sidewrapper{
  height:100%;
  position:relative;
  top: 2px;
}

.roombutton{
  background-color:#0059b3;
  color:#FAFAFA;
  height:40px;
  text-align:center;
  vertical-align:middle;
  line-height:40px;
}

.contactbutton{
  background-color:#0066cc;
  color:#FAFAFA;
  height:40px;
  text-align:center;
  vertical-align:middle;
  line-height:40px;
}

.roundtemplate {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.tabbuttons{
  height:40px;
  background-color:black;
}

.roomwrapper{
  background-color:#0059b3;
  height:100%;
  display: block;
}

.roomlist{
  background-color:#0059b3;
  color:#FAFAFA;
  height:865px;
  overflow: auto;
}

.addroom{
  background-color:#00264d;
  color:#FAFAFA;
  height:60px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;
}

.addroom:hover {
	background: #d9dee3;
	color: #000;
}

.room{
  color:#FAFAFA;
  height:140px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;

}

.oddbackgroundside{
  background-color:#004d99;
}
.evenbackgroundside{
  background-color:#0059b3;
}

#roomborder {
	color: #000;
	display: block;
	line-height: 1px;
	padding: 0 10px;
	text-decoration: none;
	border-right: 1px solid #000;
}

.contactswrapper{
  background-color:blue;
  height:100%;
  display: none;
}

.contactslist{
  background-color:#0059b3;
  color:#FAFAFA;
  height:865px;
  overflow: auto;
}

.addcontact{
  background-color:#00264d;
  color:#FAFAFA;
  height:60px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;
}

.contact{
  color:#FAFAFA;
  height:70px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;
}

.friendheader{
  background-color:#0000b3;
  color:#FAFAFA;
  height:45px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;
}

.blockheader{
  background-color:#0000b3;
  color:#FAFAFA;
  height:45px;
  text-align:center;
  vertical-align:middle;
  line-height:60px;
}

.chatwrapper{
  height: 100%;
  position:relative;
  top: 2px;
  display: block;
  bottom: 0;
  background-color:#00b386;
  overflow: auto;
}

.chatheaderwrapper{
  height:60px;
  position:relative;
  background-color:#00b386;
  color:#FAFAFA;
  vertical-align:middle;
  line-height:60px;
}

.chattextwrapper{
  min-height:805px; /*535 px original */
  background-color:#ccffe6;
  overflow:auto;
}

.chattext{
  color:black;
  height:20px;
  vertical-align:middle;
}

.oddbackgroundchat{
  background-color:#ccffdd;
}
.evenbackgroundchat{
  background-color:#b3ffcc;
}

.chatinputwrapper{
  height:100px;
  position:relative;
  bottom: 2px;
  background-color: #00b386/*#00cc66;*/
}

.navbarbrand{
  position:relative;
  top: 5px;
  right: 15px;
}

.navbar{
  position:relative;
  bottom: 10px;
}

.navbartitle{
  position:relative;
  top: 3px;
  right: 35px;
}

.bg-2{
 background-color:#FF0DFF;
}

.bottomcontainer{
 position:relative;
 top:50px;
 bottom: 2px;
}

.chatinputbox{
  position:relative;
  top:35px;
  background-color:#F0F0F0;
}
.chatinputbutton{
  position:relative;
  top:35px;
  background-color:#0066cc;
  color:#FAFAFA;
}

.dontshow{
  display:none;
}


.row.no-gutter {

  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
